name: app

on:
    push:
    workflow_dispatch:

permissions:
    contents: read
    packages: write
    id-token: write
    attestations: write

jobs:
    test-and-build:
        name: Build & Push Docker Image
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository_owner }}/piprapay-open-source-web

            - name: Build and push Docker image
              id: push
              uses: docker/build-push-action@v5
              with:
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}

            - name: Generate artifact attestation
              uses: actions/attest-build-provenance@v2
              with:
                  subject-name: ghcr.io/${{ github.repository_owner }}/piprapay-open-source-web
                  subject-digest: ${{ steps.push.outputs.digest }}
                  push-to-registry: true
